<!doctype html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wedding of Joseph & Lisa - {{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/main.css">
    {{ page.css |raw }}
</head>
<body class="nospace">
    {{ page.nav|raw }}
    <div class="main">
        {{ page.content|raw }}
    </div>
    <script src="assets/js/hammade.js"></script>
    {{ page.js |raw }}
</body>
</html>